<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
 
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="MotionController">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Start Watching Device Motion</h1>
        </ion-header-bar>
 
        <ion-content>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Frequency</span>
                    <input type="text" placeholder="0" ng-model="accelerationOptions.frequency">
                </label>
                <label class="item item-input">
                    <span class="input-label">Location Error</span>
                    <input type="text" placeholder="0" ng-model="geolocationError">
                </label>
                <label class="item item-input">
                    <span class="input-label">Accelerometer Error</span>
                    <input type="text" placeholder="0" ng-model="accelerationError">
                </label>
            </div>
            <button class="button button-full button-positive" ng-click="startWatching()">
                Start Measurement
            </button>
            <button class="button button-full button-positive" ng-click="stopWatching()">
                Stop Measurement
            </button>

            <h2>Motion:<b> {{ motionTranslator}} </b></h2>   
            <h2>Position.heading: {{  currentPosition.heading}}</h2>            
            <h2>Position.speed: {{ currentPosition.speed}}</h2>    
            <h2>Position.latitude: {{ currentPosition.latitude}}</h2>    
            <h2>Position.longitude: {{ currentPosition.longitude}}</h2>    
            <h2>Position.altitude: {{ currentPosition.altitude}}</h2>    
        
            <div id="map" data-tap-disabled="true"></div>
    </ion-pane>
    <script src="https://maps-api-ssl.google.com/maps/api/js?libraries=places"></script>

</html>
